{% extends "base.html" %}

{% block page_content %}
<html>
<head>
<style>
div.phrase_ex {
    max-width:500px;
    margin: auto;
	line-height: 150%;
	text-align: justify;
}
span.mot_erreur {
	white-space: nowrap;
}

div.center_block {
	height: 100px;
	
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	}
</style>
</head>
    
	<body>
		<div class="center_block">
        <div class="phrase_ex">       
        <form method="POST" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form">

            {{ form.hidden_tag() }}

            <p>{% filter markdown %}{{ debut_phrase if debut_phrase }}<span class="mot_erreur">{{ debut_mot_erreur if debut_mot_erreur }}{{ form.answer(size=1) }}{{ fin_mot_erreur if fin_mot_erreur }}</span>{{ fin_phrase if fin_phrase }}{% endfilter %}</p>
            <p>{{ auteur }}, <em>{{ oeuvre }}</em>, {{ annee }}</p>
            <!--{{ form.submit }}-->
			<button type="submit" class="btn btn-primary">Valider</button>
        </form></div>
		</div>
		<!--<p>Cliquer <a href="{{ url_for('orthozor.index') }}">ici</a> pour revenir à l'accueil.</p>-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--Mettre le curseur dans le champ réponse...--> 
	<script>$(document).ready(function() {
 
    $('#answer').focus();
	});</script>
   </body>
</html>
{% endblock %}

